[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
unicorn = "*"
uvicorn = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
alembic = "*"
typing-extensions = "*"
pika = "*"

[dev-packages]

[requires]
python_version = "3.9"
